<header>
  <div class="container">
    <div class="topnav">
      <div class="topnav-col">
        <a [routerLink]="['/']"><h1>Nottingham Arts</h1></a>
      </div>
      <div class="topnav-col search-bar">
        <app-search-bar></app-search-bar>
      </div>
      <div class="topnav-col">
        <div>
          <a
            [routerLink]="['/events']"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Events</a
          >
          <a
            [routerLink]="['/profile']"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Profile</a
          >
          <a (click)="onLogClick()">{{ this.userStatus }}</a>
        </div>
      </div>
    </div>
  </div>
</header>
