.container {
  width: 100vw;
  background-color: rgb(8, 8, 8);
}

h1 {
  font-size: 2rem;
  text-align: left;
  font-family: Arial, sans-serif;
  color: #fff;
  position: relative;
  padding: 0 20px 0 20px;
}

.topnav {
  display: flex;
  flex-direction: row;
}

.topnav a {
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #8bd1c3;
}

.topnav a.split {
  color: white;
}

.search-bar {
  flex-grow: 1;
}

.topnav-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}