.container {
  width: 100vw;
  height: 8vh;
}

h1 {
  font-size: 3rem;
  text-align: left;
  font-family: Arial, sans-serif;
  color: #333;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #8bd1c3;
}

.topnav a.split {
  float: left;
  color: white;
}
