<header>
  <div class="container">
    <div class="topnav">
      <div class="topnav-col">
        <!-- <a [routerLink]="['/']" class="split"><h1>{{ scrambledTitle || scrambleTitle }}</h1></a> -->
        <a [routerLink]="['/']" class="split"><h1>Nottingham Arts</h1></a>
      </div>
      <div class="topnav-col search-bar" >
        <app-search-bar></app-search-bar>
      </div>
      <div class="topnav-col">
        <div>
          <a (click)="onLogClick()">{{this.userStatus}}</a>
          <a [routerLink]="['/profile']">Profile</a>
          <a [routerLink]="['/your-events']">Your events</a>
          <a href="">Events</a>
        </div>
      </div>
      </div>
  </div>
</header>
