.container {
  width: 100vw;
  background-color: rgb(20, 20, 20);
  color: #ffff;
  margin: auto;
  padding: 2rem;
  position: fixed;
  left: 0;
  bottom: 0;
}

.container:hover{
    box-shadow: 0 0 20px rgba(251, 143, 143, 0.7);
}
