<div class="container">
  <h2>Not Art</h2>
  <p>Discover art and cultural events in Nottingham.</p>
  <div class="search">
    <div class="search-icons">
      <button class="search-topic">Art</button>
      <button class="search-topic">Music</button>
      <button class="search-topic">Literature</button>
      <button class="search-topic">Theatre</button>
    </div>

    <div class="search-form">
      <form>
        <input type="text" placeholder="keyword search" />
        <button type="submit" (click)="onSearchEvent()">Search</button>
      </form>
    </div>

    <div class="add-event-button">
      <button (click)="onCreateEvent()">Create new event</button>
    </div>
  </div>
</div>
