.container {
  color: #ffff;
  background-image: url("../../../public/images/acoustic-guitar.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 60%;
  background-color: rgba(0, 0, 0, 0.486);
  background-blend-mode: overlay;
  padding: 100px;
  height: 20vh;
  width: 100vw;
}


h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: auto;
}

p {
  text-align: center;
}

.search-topic {
  text-align: center;
  padding-right: 100px;
}
input {
  padding: 7px;
}

button {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  background-color: #8bd1c3;
}

button:hover,
button:active {
  background-color: rgb(107, 124, 124);
}
