<div class="container">
  <h1>Not Art</h1>
  <h2>Welcome to your creative community where you can discover the very best art and cultural events in Nottingham.</h2>
  <div class="search">
    <div class="search-icons">
    <button name="art" class="search-topic" [routerLink]="['/events']"[queryParams]="{category: 'art'}" queryParamsHandling="merge">Art</button>
    <button name="music" class="search-topic" [routerLink]="['/events/music']" [queryParams]="{category: 'music'}" queryParamsHandling="merge">Music</button>
    <button name="literature" class="search-topic"[routerLink]="['/events/literature']" [queryParams]="{category: 'literature'}" queryParamsHandling="merge">Literature</button>
    <button name="theatre" class="search-topic" [routerLink]="['/events/theatre']" [queryParams]="{category: 'theatre'}" queryParamsHandling="merge">Theatre</button>
    
    @if (user) {
      <button [routerLink]="['/your-events']">Your Events</button>
    }
    
    @if (user?.is_admin) {
    <button (click)="onCreateEvent()" [disabled]="user == null">Create new event</button>
    }
    </div>      
  </div>
</div>
