<div class="container">
  @if (event) {
  <div class="event-container">
    <img src="{{ event.image }}" alt="{{ event.title }} at {{event.location}}" />
    <div class="event-detail">
      <h2>{{ event.title }}</h2>
      <p class="type">
        {{ event.type.toUpperCase() }}
      </p>
      <p>{{ event.summary }}</p>
      <p>Location: {{ event.location }}</p>
      <p>Date: {{ event.date | date : "fullDate" }}</p>
      <p>Time: {{ event.time }}</p>
      @if (event.user_events.length ===1) {
        <p class="type">You're going!</p>
        }
      @if (user?.is_admin) {
      <div>
        <button (click)="onEdit(event.id)">Edit event</button>
        <button (click)="showModal()">Delete event</button>
        <app-modal *ngIf="isPopupVisible" (close)="hideModal()">
          <div class="modal">
            <div class="modal-header">
              <h2>Are you sure you want to delete this event?</h2>
            </div>
            <button (click)="onDelete()">Delete event</button>
          </div>
        </app-modal>
      </div>
      }
    </div>

    @if (user && event.user_events.length === 0) {
    <div class="button-container">
      <div class="event-info-button">
        <span (click)="onAddEventToUser(event.id)">Sign up for event</span>
  </div>
  </div>
    } 
      

    @if(!user) {
    <div class="button-container">
      <div class="event-info-button">
        <span (click)="showModal()">Sign up</span>
      </div>
    </div>
    <app-modal *ngIf="isPopupVisible" (close)="hideModal()">
      <div class="modal">
        <div class="modal-header">
          <h2>You need to login to sign up for events.</h2>
        </div>
        <button [routerLink]="['/login']">Login</button>
        <div class="register-link">
          <p>
            Don't have an account yet?
            <a [routerLink]="['/register']">Sign up</a>
          </p>
        </div>
      </div>
    </app-modal>
    }
  </div>
  }
</div>
