.container {
  width: 40vw;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(251, 143, 143, 0.7);
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 20, 20);
  color: #ffff;
}

.event-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.event-item-container p {
  margin: 0.5rem auto;
  padding: 0.25rem;
  text-align: center;
}

.summary-text {
  font-size: 2rem;
}

h3 {
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
}

p {
  font-size: 1.5rem;
}
img {
  width: 600px;
  align-self: center;
  padding-top: 1rem;
}

.event-buttons {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  background-color: rgb(200, 30, 50);
  color: #fff;
  font-size: 1.5rem;
}

button:hover,
button:active {
  background-color: rgb(150, 22, 35);
}

.type {
  color: rgb(200, 30, 50);
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
}

.modal {
  justify-content: center;
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
  background-color: #ffff;
}

.modal a {
  text-decoration: none;
  font-weight: bold;
}

.modal-header {
  display: flex;
  padding-bottom: 1rem;
}

.register-link {
  padding-top: 1rem;
}