<div class="container">
    @for (event of events; track event.event_id) {
    <div class="event-container" >
      <h3>{{ event.event.title }}</h3>
      <p class="type" [ngStyle]="{ 'background-color': getBackgroundColor(event.event.type) }">{{ event.event.type }}</p>
      <img src="{{ event.event.image }}" />
      <p class="event-text">{{event.event.summary}}</p>
      <p class="event-text">Location: {{ event.event.location }}</p>
      <p class="event-text">{{ event.event.date | date: 'fullDate'}}</p>
      <p class="event-text">Time: {{ event.event.time }}</p>
      <div class="event-rsvp" >

        <p class="event-rsvp">{{this.rsvpStatus}}</p>

        <div>
          <button class="event-rsvp" (click)="showModal()">Edit RSVP</button>
          <app-modal *ngIf="isPopupVisible" (close)="hideModal()">
            <div class="modal">
              <h2>Are you sure you don't want to attend this event?</h2>
              <button class="event-rsvp" (click)="onEditRSVP(event.event.id)">Not going</button>
            </div>
          </app-modal>
        </div>
        

        <button (click)="showModal()">Add to calendar</button>
        <app-modal *ngIf="isPopupVisible" (close)="hideModal()">
          <div class="modal">
            <div class="modal-header">
              <h2>Add to calendar</h2>
            </div>
          </div>
        </app-modal> 

      </div>
    </div>
    }
  </div>
 
