<div class="container">
    @for (event of events; track event.event_id) {
    <div class="event-container" >
      <h3>{{ event.event.title }}</h3>
      <p class="type" [ngStyle]="{ 'background-color': getBackgroundColor(event.event.type) }">{{ event.event.type }}</p>
      <img src="{{ event.event.image }}" />
      <p class="event-text">{{event.event.summary}}</p>
      <p class="event-text">Location: {{ event.event.location }}</p>
      <p class="event-text">{{ event.event.date | date: 'fullDate'}}</p>
      <p class="event-text">Time: {{ event.event.time }}</p>
      <div class="event-rsvp" >
        <p class="event-rsvp">{{this.rsvpStatus}}</p>
        <button class="event-rsvp" (click)="onEditRSVP(event.event.id)">Edit RSVP</button>
        <button>Add to calendar</button>
      </div>
    </div>
    }
  </div>
