@if (isFetching()) {
<p class="fallback-text">Fetching events...</p>
}

<div class="container">
  <h1>Upcoming Events</h1>
  @for (event of events; track event.id) {
  <div class="event-container">
    <img src="{{ event.image }}" alt="{{ event.title }} at {{event.location}}" />
    <div class="event-detail">
      <h2>{{ event.title }}</h2>
      <p class="type">
        {{ event.type.toUpperCase() }}
      </p>
      <p>Location: {{ event.location }}</p>
      <p>{{ event.date | date : "fullDate" }}</p>
      <p>Time: {{ event.time }}</p>
      @if (event.user_events.length === 1) {
      <p class="type">You're going!</p>
      }
    </div>

    <div class="button-container">
      <div class="event-info-button">
        <span (click)="onOpenEventDetails(event.id)">Find out more</span>
      </div>
    </div>
  </div>
  }
</div>
