<div class="register-heading">
  <div class="register-header">
  <h1>Discover art and cultural events in Nottingham</h1>
  <h2>Join the creative communtiy and sign up</h2>
</div>
</div>
<form [formGroup]="form" (submit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <div>
      <input type="text" name="email" formControlName="email" id="email" />
    </div>
  </div>
  <div>
    <label for="message">Password</label>
    <div>
      <input name="password" type="password" formControlName="password" id="password" />
    </div>
  </div>
  <button type="submit" [disabled]="!this.form.valid">Submit</button>

  @if (emailIsInvalid) {
    <p class="control-error">Please enter a valid email address.</p>
    } @if (passwordIsInvalid) {
    <p class="control-error">
      Please enter a valid password - at least 8 characters.
    </p>
    }

</form>
<div class="register-link">
  <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
</div>
