<div class="register-heading">
  <div class="register-header">
  <h1>Discover art and cultural events in Nottingham</h1>
  <h2>Join the creative communtiy and sign up</h2>
</div>
</div>
<form [formGroup]="form" (submit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <div>
      <input type="text" name="email" formControlName="email" id="email" />
      <app-login-errors [field]="form.controls.email"></app-login-errors>
    </div>
  </div>
  <div>
    <label for="message">Password</label>
    <div class="password">
      <input name="password" [type]="show ? 'text' : 'password'" formControlName="password" id="password"/>
      <button class="toggle-visibilty" (click)="passwordVisibilty()">{{show ? 'Hide' : 'Show'}}</button>
      
    </div>
    <app-login-errors [field]="form.controls.password"></app-login-errors>
  </div>
  <div>
    <label for="message">Confirm Password</label>
    <div class="password">
      <input name="confirmPassword" [type]="show ? 'text' : 'password'"  formControlName="confirmPassword" id="confirmPassword" />
      <button class="toggle-visibilty" (click)="passwordVisibilty()">{{show ? 'Hide' : 'Show'}}</button>
    </div>
    @if (form.get('confirmPassword')?.hasError('notSame')) {
      <p class="password-error">Passwords do not match</p>
    }
  </div>
  @if (!isLoading){
    <button type="submit" [disabled]="!this.form.valid">Submit</button>
  }
  @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
    }
</form>
<div class="register-link">
  <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
</div>
