<div class="register-heading">
  <div class="register-header">
  <h1>Discover art and cultural events in Nottingham</h1>
  <h2>Join the creative communtiy and sign up</h2>
</div>
</div>
<form [formGroup]="form" (submit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <div>
      <input type="text" name="email" formControlName="email" id="email" />
      <app-login-errors [field]="form.controls.email"></app-login-errors>
    </div>
  </div>
  <div>
    <label for="message">Password</label>
    <div>
      <input name="password" type="password" formControlName="password" id="password" />
      <app-login-errors [field]="form.controls.password"></app-login-errors>
    </div>
  </div>
  <button type="submit" [disabled]="!this.form.valid">Submit</button>
</form>
<div class="register-link">
  <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
</div>
