<div class="login-header">
  <h1>Log in</h1>
  <div class="login-link">
    <p>Don't have an account yet? <a [routerLink]="['/register']">Sign Up</a></p>
  </div>
</div>
<form (submit)="onLogin()">
  <div>
    <label for="email">Email</label>
    <div>
      <input type="text" name="email" [(ngModel)]="formData.email" id="email" />
    </div>
  </div>
  <div>
    <label for="password">Password</label>
    <div>
      <input
        type="text"
        name="password"
        [(ngModel)]="formData.password"
        id="password"
      />
    </div>
  </div>
  <button type="submit">Login</button>
</form>

