form {
  margin: 2rem auto;
  max-width: 30rem;
  padding: 1rem 1rem 4rem 1rem;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 0 6px rgba(251, 143, 143, 0.7);
  background-color:rgb(20, 20, 20);
}

h1 {
  font-size: 2rem;
    padding: 1rem;
    color: #ffff;
}

label {
  display: block;
  margin-bottom: 0.15rem;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
}
.login-header {
  text-align: center;
  padding-top: 2rem;
}
.login-link {
  color: #ffff;
  margin: auto;
  max-width: 30rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.login-link p {
  text-align: center;
  font-size: 1.5rem;
}

.login-link a {
  font-weight: 600;
  text-decoration: none;
  color: rgb(200, 30, 50);
}

button {
  float: right;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  background-color: rgb(200, 30, 50);
  color: #fff
}

button:hover,
button:active {
  background-color: rgb(150, 22, 35);
    color: #fff;
}

button:disabled {
  background-color: rgb(148, 101, 106);
  cursor: not-allowed;
}

