<div class="login-header">
  <h1>Log in</h1>
  <div class="login-link">
    <p>
      Don't have an account yet? <a [routerLink]="['/register']">Sign Up</a>
    </p>
  </div>
</div>
<form [formGroup]="form" (submit)="onLogin()">
  <div>
    <label for="email">Email</label>
    <div>
      <input type="text" name="email" formControlName="email" id="email" />
      <app-login-errors [field]="form.controls.email"></app-login-errors>
    </div>
  </div>
  <div>
    <label for="password">Password</label>
    <div>
      <input
        type="password"
        name="password"
        formControlName="password"
        id="password"
      />
      <app-login-errors [field]="form.controls.password"></app-login-errors>
    </div>
  </div>
  <button type="submit" [disabled]="!this.form.valid">Login</button>
</form>
