.container {
    color: #ffff;
    background-image: url("../../../public/images/acoustic-guitar.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 60%;
    background-color: rgba(0, 0, 0, 0.486);
    background-blend-mode: overlay;
    padding: 10px;
    height: 22vh;
    width: 100vw;
    text-align: center;
    font-size: 2rem;
  }

  button {
    padding: 0.5rem 3rem;
    margin-right: rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    border: none;
    background-color: #8bd1c3;
    font-size: 1rem;
  }
  
  button:hover,
  button:active {
    background-color: rgb(107, 124, 124);
  }
  