<form (submit)="onSubmit()">
  <div>
    <label for="first-name">Username</label>
    <div>
      <input
        type="text"
        name="username"
        [(ngModel)]="formData.username"
        id="username"
      />
    </div>
  </div>
  <div>
    <label for="email">Email</label>
    <div>
      <input type="text" name="email" [(ngModel)]="formData.email" id="email" />
    </div>
  </div>
  <div>
    <label for="message">Password</label>
    <div>
      <input name="password" [(ngModel)]="formData.password" id="password" />
    </div>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
