form {
    margin: 2rem auto;
    max-width: 30rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.15rem;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
  }
  .register-heading {
    text-align: center;
  }
  .register-link {
    margin: 2rem auto;
    max-width: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
    }
    
    .register-link p {
      text-align: end;
    }
    
    .register-link a {
      font-weight: bold;
      text-decoration: none;
    }

  button {
    float: right;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    border: none;
    background-color: #8bd1c3;
  }
  
  button:hover,
  button:active {
    background-color: rgb(107, 124, 124);
  }
  